<div class="container">
  <a class="list-group-item list-group-action active">
    <h1 class="headline">Proposal List</h1>
  </a>

  <div class="list-group">
    <span *ngFor="let proposal of proposals">
      <a class="list-group-item list-group-action" routerLink="/proposal/{{ proposal.id }}">
        <div class="d-flex-w-100 justify-content-between">
          <h5 class="mb-1">{{ proposal.customer }}</h5>
          <small>${{ proposal.hourly_rate * proposal.estimated_hours }}</small>
        </div>
      </a>
    </span>
  </div>
</div>
